[submodule "program/lib/bdd"]
	path = program/lib/bdd
	url = https://github.com/MyskYko/bdd.git
[submodule "program/lib/glucose"]
	path = program/lib/glucose
	url = https://github.com/MyskYko/glucose-1.git
[submodule "program/lib/abc"]
	path = program/lib/abc
	url = https://github.com/berkeley-abc/abc.git
[submodule "program/lib/cadical"]
	path = program/lib/cadical
	url = https://github.com/MyskYko/cadical.git
